#calendar {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 0.5em;
}

.main-style {
  height: 100vh;
}

.main-style__title {
  height: 8%;
  padding: 0;
  margin: 0 0 0 10px;
}

.main-style__table {
  height: 92%;
  text-align: center;
  margin: 0;
}

.cal-record>td {
  padding: 0;
}

tfoot>tr>td>a {
  display: block;
  position: relative;
}

/* フッター部分 */
button {
  border: none;
  background-color: white;
}

.btn__addPlan {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 25px;
}

.btn__addPlan>span {
  display: block;
  width: 22px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 7px 0;
}

.btn__addPlan>span:nth-child(1) {
  transform: rotateZ(90deg) translate(25%, -250%);
}

.btn__addPlan>span:nth-child(2) {
  transform: translate(55%, -130%);
}

.btn__profile {
  width: 60px;
  height: 60px;
  padding: 0;
}

.btn__profile>p {
  font-size: 0.1em;
  margin: 0;
}

/* プロフィール画面 */
.profile {
  height: 100vh;
  display: block;
  position: relative;
  border: 1px solid #000;
  border-radius: 0 30px 0 0;
}

.btn__close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.icon {
  margin-top: 30px;
  background-color: #fff;
  width: 90px;
  height: 90px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 50%;
}

.frend-acount {
  border-radius: 0 30px 0 0;
}

.profile__userName {
  font-weight: bold;
  color: #fff;
}

.profile__birthday {
  color: #fff;
  opacity: 0.5;
}

.btn__edit {
  display: inline-block;
  border: 3px double #fff;
  border-radius: 10px;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
}
