.container-fluid {
  position: relative;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 0.5em;
}

.main-style {
  height: 100vh;
}

.main-style__title {
  height: 8%;
  padding: 0;
  margin: 0 0 0 10px;
}

.main-style__table {
  height: 80%;
  position: absolute;
  top: 50px;
  text-align: center;
  margin: 0;
}

.cal-record>td {
  padding: 0;
}

tfoot>tr>td>a {
  display: block;
  position: relative;
}

/* フッター部分 */
button {
  border: none;
  background-color: white;
}

.btn__addPlan {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 25px;
}

.btn__addPlan>span {
  display: block;
  width: 22px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 7px 0;
}

.btn__addPlan>span:nth-child(1) {
  transform: rotateZ(90deg) translate(25%, -250%);
}

.btn__addPlan>span:nth-child(2) {
  transform: translate(55%, -130%);
}

.btn__profile {
  width: 60px;
  height: 60px;
  padding: 0;
}

.btn__profile>p {
  font-size: 0.1em;
  margin: 0;
}

/* プロフィール一覧画面 */
.shift-position__profile {
  position: absolute;
  transform: translateX(-100%);
  transition: all 0.7s;
  overflow: hidden;
  top: 0;
  left: 0;
}

.open-profile {
  transition: all 0.7s;
  transform: translateX(0);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.side-page {
  height: 100vh;
  position: relative;
}

.acounts {
  background-color: #fff;
}

.btn__close {
  display: block;
  z-index: 100;
  position: absolute;
  top: 5px;
  right: 2px;
}

.icon {
  margin-top: 30px;
  background-color: #fff;
  width: 90px;
  height: 90px;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 50%;
}

.frend-acount {
  border-radius: 0 30px 0 0;
}

.profile__userName {
  font-weight: bold;
}

.profile__birthday {
  opacity: 0.5;
}

.btn__edit {
  display: inline-block;
  border: 3px double #000;
  border-radius: 10px;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
}

/* コメント画面 */
.coment {
  color: #fff;
  height: auto;
  overflow: hidden;
}

.coment__title {
  text-align: center;
}

.coment__title>h3 {
  display: inline-block;
  margin: 10px 10px 10px 0;
}

.coment__title>p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.coment__list>li {
  position: relative;
  border: 1px solid #fff;
  background-color: white;
  color: #000;
  margin: 10px 0;
}

.coment__persons>span {
  font-weight: bold;
}

.coment__list>li>p {
  display: inline-block;
  margin: 5px 0 0 5px;
}

.coment__list>li>p:last-child {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
}

.likes {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* 予定追加欄 */
.shift-position__plan {
  position: absolute;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 0.7s;
  overflow: hidden;
  top: 0;
  right: 0;
}

.open-plan {
  transition: all 0.7s;
  transform: translateX(0);
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.3);
}

.form__title {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: none;
  border: none;
  border-bottom: 1px solid gray;
}

.form__change-btn {
  width: 280px;
  position: relative;
  margin: 0;
}

.form__change-btn>input {
  display: none;
}

.form__change-btn>label {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #fff;
  line-height: 2.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid #000;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.form__change-btn>label::before {
  content: "";
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  border: 3px solid;
  border-radius: 100px;
  left: 2px;
  top: 2px;
}

.form__change-btn>input[type=checkbox]+label {
  background-color: skyblue;
  color: black;
}

.form__change-btn>input[type=checkbox]:checked+label {
  background-color: blue;
  color: white;
}

.form__change-btn>input[type=checkbox]:checked+label::before {
  left: 232px;
}

.form__times {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  text-align: center;
  letter-spacing: 4px;
  color: #000;
}

.form__times-doneForUs {
  display: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  text-align: center;
  letter-spacing: 4px;
  color: #000;
}

/* 予定スロット */
.form__dates {
  display: none;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.form__date {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1) inset;
}

.form__dates-btns {
  display: flex;
  justify-content: space-around;
}

/* 予定：色変更 */
.color-box {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 70px;
  background-color: #fff;
}

.color-box.red {
  border: 3px solid red;
}

.color-box.blue {
  border: 3px solid blue;
}

.color-box.green {
  border: 3px solid green;
}

.color-box.red>input[type=radio]:checked+label {
  background-color: red;
  color: #fff;
}

.color-box.blue>input[type=radio]:checked+label {
  background-color: blue;
  color: #fff;
}

.color-box.green>input[type=radio]:checked+label {
  background-color: green;
  color: #fff;
}

.color-radio {
  display: none;
}

.color-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
}

.color-label.red {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1;
  color: red;
}

.color-label.blue {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1;
  color: blue;
}

.color-label.green {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1;
  color: green;
}

/* コメント：いいね！ */
.form__likes {
  display: none;
}

input[type=checkbox].like {
  display: none;
}

input[type=checkbox].like+label {
  width: 70px;
  height: 70px;
  opacity: 0.3;
}

input[type=checkbox].like+label>img {
  display: none;
  width: 100%;
  height: 100%;
}

input[type=checkbox].like:checked+label {
  opacity: 1;
}

/* プロフィール編集画面 */
.form__profile {
  text-align: center;
}

.shift-position__change-profile {
  position: absolute;
  background-color: #fff;
  transform: translateY(100%) scaleY(0);
  transition: all 0.7s;
  overflow: hidden;
  top: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.open-change-profile {
  transition: all 0.8s;
  transform: translateY(0) scaleY(1);
}

/* プロフィールアイコン */
input[type=file] {
  display: none;
}

input[type=file].icon-btn>label>img {
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
}

.icon-btn>label>p {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
