.container-fluid {
  position: relative;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

/* カレンダーテーブル画面 */
.calendar>h1 {
  margin: 0 auto;
  font-size: 2em;
}

.calendar__table {
  height: 65vh;
  margin: 0;
  overflow: hidden;
}

.calendar__weekdays {
  text-align: center;
  font-size: 0.5rem;
}

.calendar__weekdays>tr>th {
  padding: 0 12px;
}

tr[class^="week"]>td {
  padding: 0;
}

tr[class^="week"]>td>p {
  display: inline-block;
  margin-left: 5px;
}

.calendar__days {
  font-size: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

/* カレンダーフッター部分 */
.calendar__footer>div>button {
  border: none;
  background-color: white;
}

.calendar__btn {
  display: flex;
  justify-content: center;
}

.btn__addPlan {
  height: 50px;
  width: 50px;
  padding: 0;
  margin-top: 5px;
  border-radius: 25px;
}

.btn__addPlan>span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 7px 0;
}

.btn__addPlan>span:nth-child(1) {
  transform: rotateZ(90deg) translate(15%, -100%);
}

.btn__addPlan>span:nth-child(2) {
  transform: translate(11%, -120%);
}

.btn__img {
  width: 70px;
  height: 70px;
  padding: 0;
}

.btn__img>p {
  font-size: 1px;
  margin: 0;
}

/* プロフィール画面 */
.profile {
  width: 100%;
  height: 75vh;
  background-color: #fff;
  transition: all 0.7s;
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
}

.open-profile {
  transition: all 0.7s;
  left: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.profile-top>h6 {
  font-weight: bold;
  color: #fff;
  padding: 15px;
  margin: 0;
}

.profile__info {
  position: relative;
  width: 100%;
}

.profile__img {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: 5px solid #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__img-top {
  width: 100%;
  height: 20vh;
}

.profilr__info-body {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1.5px;
}

.profilr__info-body>h6 {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.profilr__info-body>p {
  font-size: 5px;
  color: gray;
  padding-bottom: 10px;
  margin: 0;
}

/* 予定追加フォーム(モーダル) */
.plan-form__title {
  background-color: skyblue;
}

.plan-form__title>input[type=text] {
  background: transparent;
}

/* 予定追加フォーム・表示切り替えボタン */
.plan-form__change-btn {
  width: 100%;
  position: relative;
  margin: 0;
}

.plan-form__change-btn>input {
  display: none;
}

.plan-form__change-btn>label {
  width: 50%;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.plan-form__change-btn>label::before {
  content: "";
  transition: all 0.3s;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid;
  border-radius: 100px;
  left: 2px;
  top: 2px;
}

.plan-form__change-btn>input[type=checkbox]+label {
  background-color: skyblue;
  color: #000;
}

.plan-form__change-btn>input[type=checkbox]:checked+label {
  background-color: blue;
  color: #fff;
}

.plan-form__change-btn>input[type=checkbox]:checked+label::before {
  left: 113px;
}

/* コメント一覧 */
.coment-list {
  height: 82vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -100%;
  color: #fff;
  transition: all 0.7s;
}

.open-coment-list {
  transition: all 0.7s;
  right: 0;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.3);
}

.coment-list>.card {
  color: #000;
}

.coment-list>h5 {
  padding: 10px 0;
}

.list-group-item>p {
  display: inline-block;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

.list-group-item>p.main-coment {
  display: inline-block;
  font-size: 0.75em;
  padding: 5px;
}

.list-group-item {
  padding: 0;
  text-align: center;
}

.likes {
  display: inline-block;
}
