body {
  /* overflow: hidden; */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

/* カレンダーテーブル画面 */
.calendar>h1 {
  margin: 0 auto;
  font-size: 2em;
}

.calendar__table {
  height: 65vh;
  margin: 0;
}

.calendar__weekdays {
  text-align: center;
  font-size: 0.5rem;
}

.calendar__weekdays>tr>th {
  padding: 0 12px;
}

tr[class^="week"]>td {
  padding: 0;
}

tr[class^="week"]>td>p {
  display: inline-block;
  margin-left: 5px;
}

.calendar__days {
  font-size: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

/* カレンダーフッター部分 */
.calendar__footer>div>button {
  border: none;
  background-color: white;
}

.calendar__btn {
  display: flex;
  justify-content: center;
}

.btn__addPlan {
  height: 50px;
  width: 50px;
  padding: 0;
  margin-top: 5px;
  border-radius: 25px;
}

.btn__addPlan>span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 7px 0;
}

.btn__addPlan>span:nth-child(1) {
  transform: rotateZ(90deg) translate(15%, -100%);
}

.btn__addPlan>span:nth-child(2) {
  transform: translate(11%, -120%);
}

.btn__img {
  width: 70px;
  height: 70px;
  padding: 0;
}

.btn__img>p {
  font-size: 1px;
  margin: 0;
}

/* プロフィール画面 */
.profile {
  width: 100%;
  width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 0.7s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

}

.open-profile {
  transition: all 0.7s;
  transform: translateX(0);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.profile__info {
  position: relative;
  width: 100%;
}

.profile__img {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 5px solid #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__img-top {
  width: 100%;
  height: 25vh;
}

.profilr__info-body {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1.5px;
}

.profilr__info-body>h6 {
  padding: 0;
  margin:0;
}

.profilr__info-body>p {
  font-size: 2px;
  color: gray;
  padding-bottom: 10px;
  margin: 0;
}
