.container-fluid {
  position: relative;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

/* カレンダーテーブル画面 */
.calendar>h1 {
  margin: 0 auto;
  padding: 10px 0;
  font-size: 2em;
}

.calendar__table {
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

.calendar__weekdays {
  text-align: center;
  font-size: 0.5rem;
}

.calendar__weekdays>tr>th {
  padding: 0 12px;
}

tr[class^="week"]>td {
  padding: 0;
}

tr[class^="week"]>td>p {
  display: inline-block;
  margin-left: 5px;
}

.calendar__days {
  font-size: 0.5rem;
  border-bottom: 1px solid #dee2e6;
}

/* カレンダーフッター部分 */
.btn-basic {
  border: none;
  background-color: white;
  padding: 0;
}

.option-btn-items {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.option-btn-items>li {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.option-btn-items>li:not(.main-item) {
  display: none;
  text-align: right;
}

.option-btn__add-plan::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
  background-image: url("../img/calendar-icon.png");
  background-position: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
}

.option-btn__coment-list::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 50%;
  background-image: url("../img/coment-list-icon.png");
  background-position: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
}

.option-btn__main {
  display: block;
  height: 50px;
  width: 50px;
  padding: 0;
  margin-top: 5px;
  border-radius: 25px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.option-btn__main>span {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 7px 0;
}

.option-btn__main>span:nth-child(1) {
  transform: rotateZ(90deg) translate(15%, -100%);
}

.option-btn__main>span:nth-child(2) {
  transform: translate(11%, -120%);
}

.btn__img {
  padding: 0;
}

.btn__img>p {
  font-size: 1px;
  margin: 0;
}

.btn__acount {
  display: block;
  position: absolute;
  border: 3px solid gray;
  border-radius: 50%;
  top: 5px;
  left: 10px;
}

.btn__acount>img {
  width: 60%;
  height: 60%;
}

/* プロフィール一覧画面 */
.profile {
  width: 100%;
  height: 75vh;
  background-color: #fff;
  transition: all 0.7s;
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
}

.open-profile {
  transition: all 0.7s;
  left: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.profile-top {
  background-color: skyblue;
}

.profile-top>h6 {
  font-weight: bold;
  color: #fff;
  padding: 15px;
  margin: 0;
}

.profile__info {
  position: relative;
  width: 100%;
}

.profile__img {
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: 5px solid #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile__img-top {
  width: 100%;
  height: 20vh;
}

.profilr__info-body {
  padding: 10px 0;
  text-align: center;
  letter-spacing: 1.5px;
}

.profilr__info-body>h6 {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.profilr__info-body>p {
  font-size: 5px;
  color: gray;
  padding-bottom: 10px;
  margin: 0;
}

/* 予定追加画面(モーダル) */
.plan-form-content #add-plan {
  display: block;
}

#done-for-us {
  display: none;
}

.plan-form__title {
  background-color: skyblue;
}

.plan-form__title>input[type=text] {
  background: transparent;
}

.plan-form__change-btn {
  width: 100%;
  position: relative;
  margin: 0;
}

.plan-form__change-btn>input {
  display: none;
}

.plan-form__change-btn>label {
  width: 50%;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  line-height: 2;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.plan-form__change-btn>label::before {
  content: "";
  transition: all 0.3s;
  width: 23px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid;
  border-radius: 100px;
  left: 2px;
  top: 2px;
}

.plan-form__change-btn>input[type=checkbox]+label {
  background-color: white;
  color: #000;
}

.plan-form__change-btn>input[type=checkbox]:checked+label {
  background-color: black;
  color: #fff;
}

.plan-form__change-btn>input[type=checkbox]:checked+label::before {
  left: 123px;
}

/* 予定追加　→　色変更／いいね！ */
#like {
  display: none;
}

#color {
  display: block;
}

.subform {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.color-items>input[type="radio"] {
  display: none;
}

.like-items>input[type="checkbox"] {
  display: none;
}

.like-items>input[type="checkbox"]+label {
  opacity: 0.5;
}

input[type="radio"]+label {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.red {
  border: 5px solid red;
}

.blue {
  border: 5px solid blue;
}

.green {
  border: 5px solid green;
}

input[type="radio"]:checked+label.red {
  background-color: red;
}

input[type="radio"]:checked+label.blue {
  background-color: blue;
}

input[type="radio"]:checked+label.green {
  background-color: green;
}

input[type="checkbox"]:checked+label {
  opacity: 1;
}

.color-item {
  display: inline-block;
}

/* アカウント編集画面（モーダル） */
.edit-content {
  height: 50vh;
}

.edit-form {
  height: 100%;
}

.icon-info {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.icon-info>input[type="file"] {
  display: none;
}

.icon-info>input[type="file"]+.edit-form__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.icon-info>input[type="file"]+.edit-form__bg>img {
  width: 100%;
  height: 100%;
}

.edit-form__icon {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30%;
  z-index: 1500;
}

.edit-form__items {
  position: absolute;
  top: 40%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.edit-form__items>label {
  margin: 2px 0 2px 20px;
}

/* 招待画面（モーダル） */
.modal-header {
  position: relative;
  height: 10vh;
  background-color: skyblue;
  padding: 0;
}

.modal-header>h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
  padding: 0;
}

/* コメント一覧 */
.coment-list {
  height: 82vh;
  position: absolute;
  overflow: hidden;
  background-color: skyblue;
  top: 0;
  right: -100%;
  color: #fff;
  transition: all 0.7s;
}

.open-coment-list {
  transition: all 0.7s;
  right: 0;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.3);
}

.coment-list>.card {
  color: #000;
}

.coment-list>h5 {
  padding: 10px 0;
}

.list-group-item>p {
  display: inline-block;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

.list-group-item>p.main-coment {
  display: inline-block;
  font-size: 0.75em;
  padding: 5px;
}

.list-group-item {
  padding: 0;
  text-align: center;
}

.likes {
  display: inline-block;
}
