/* 画面サイズ768以上の場合に適用 */
  .rPosition {
    display: flex;
    flex-direction: row-reverse;
  }

  .calendar {
    margin: 0;
  }

  .calendar__table {
    height: 84vh;
  }

  .profile-top {
    background-color: #fff;
  }

  .profile {
    height: 100vh;
    border-right: 1px solid #9A3325;
    top: 0;
    left: 0;
  }

  .btn__close {
    display: none;
  }

  .profile__img-top {
    height: 34vh;
  }

  .card-group {
    display: flex;
    flex-direction: column;
  }

  .option-btn__acount {
    display: none;
  }
